<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img
        class="logo mb-3 rounded-circle shadow bg-white rounded"
        src="assets/EMT-logo.png"
        alt="angular logo"
      /><br />
      <span class="mt-5" translate>Enacment technical test</span>
    </h1>
  </div>

  <app-loader class="text-center align-middle" [isLoading]="isLoading"></app-loader>

  <div class="container" *ngIf="isLoading == false">
    <form class="example-form mt-5" [formGroup]="NumberForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width w-100" appearance="fill">
        <mat-label translate>Enter a number</mat-label>
        <input type="number" formControlName="number" [errorStateMatcher]="matcher" matInput />
        <div *ngIf="NumberForm['number']">
          <mat-error *ngIf="NumberForm['number'].errors?.['min']">
            Debe ingresar un número <strong>mayor a 0</strong>.
          </mat-error>
        </div>
      </mat-form-field>

      <div class="mt-3 d-grid gap-2">
        <button mat-raised-button color="primary" [disabled]="!NumberForm.valid">Submit</button>
      </div>

      <div *ngIf="isSending" class="spinner-border text-info mt-5" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </form>

    <div class="text-center" *ngIf="result">
      <mat-divider class="mt-4"></mat-divider>

      <p class="mt-3 h5">Resultado</p>

      <p [style.color]="resultColor">
        <strong>{{ result }}</strong>
      </p>
    </div>
  </div>
</div>
